#main-navbar{
	background-color: blue;
	overflow: hidden;
}
#navbar-container{
	float: left;
	width: 100%
	position: relative;
}
#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%
	float: left;
}
#main-navbar ul li{
	position: relative;
	float: left;
	right: 50%;
}
#main-navbar ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
}
#main-navbar ul li a: hover {
	background-color: #000;
	text-decoration: underline overline;
}
#sidebar{
	position: fixed;
	right: 0%
	backround-color: red;
	height: 100%
	widht: 20%
	list-style-type: none;
}
#sidebar ul {
	text-align: center;
	padding: 0;
}


